<section id="services-list" class="services-list">
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h2>Our Services</h2>

      </div>

      <div class="row gy-5">
        <div class="col-lg-6 col-md-12 service-item d-flex" data-aos="fade-up" data-aos-delay="100">
          <div class="ld-icon flex-shrink-0">
            <img src="../../../assets/img/Icon-LandscapeDesign.png" alt="Landscape Design Icon">
          </div>
          <div>
            <h4 class="title"><a href="#" class="stretched-link">Landscape Design</a></h4>
            <p class="description">Our landscape design service begins with a consultation to understand your needs, preferences, and the unique characteristics of your space. We create detailed, customized designs that integrate natural elements with innovative ideas. Whether you want a modern, minimalist garden or a lush, vibrant landscape, our designs are crafted to enhance both beauty and functionality. From initial sketches to final blueprints, we’ll guide you through every step of the design process. </p>
          </div>
        </div>
        <!-- End Service Item -->
        <div class="col-lg-6 col-md-12 service-item d-flex" data-aos="fade-up" data-aos-delay="100">
          <div class="ld-icon flex-shrink-0">
            <img src="../../../assets/img/Icon-PM.png" alt="Project Management Icon">
          </div>
          <div>
            <h4 class="title"><a href="#" class="stretched-link">Project Management</a></h4>
            <p class="description">Managing a landscaping project can be overwhelming, but with our project management expertise, you can rest easy. We oversee all aspects of the project, coordinating with contractors, suppliers, and any third-party vendors to ensure the work is done on time, within budget, and to the highest standard. Our project managers provide regular updates, handle any unexpected challenges, and ensure that the final product aligns with your vision. </p>
          </div> 
        </div>
        <!-- End Service Item -->
        <div class="col-lg-6 col-md-12 service-item d-flex" data-aos="fade-up" data-aos-delay="200">
          <div class="ld-icon flex-shrink-0">
            <img src="../../../assets/img/Icon-Pool.png" alt="Pool Icon">
          </div>
          <div>
            <h4 class="title"><a href="#" class="stretched-link">Pool and SPA</a></h4>
            <p class="description">Transform your backyard into a luxurious retreat with our custom pool and spa services. We design and build pools and spas that seamlessly integrate into your landscape, creating a relaxing environment. Whether you’re looking for a simple plunge pool or a full spa experience, we tailor every aspect to your specific desires, ensuring a beautiful and functional addition to your outdoor living space.</p>
          </div>
        </div>
        <!-- End Service Item -->
        <div class="col-lg-6 col-md-12 service-item d-flex" data-aos="fade-up" data-aos-delay="300">
          <div class="ld-icon flex-shrink-0">
            <img src="../../../assets/img/Icon-Planting.png" alt="Planting Icon">
          </div>
          <div>
            <h4 class="title"><a href="#" class="stretched-link">Softscape and Planting</a></h4>
            <p class="description">We offer expert planting services to create a balanced and vibrant landscape. Specializing in native species, we design gardens that are not only visually appealing but also sustainable, low-maintenance, and suitable for your climate and soil. </p>
          </div>
        </div><!-- End Service Item -->
        <div class="col-lg-6 col-md-12 service-item d-flex" data-aos="fade-up" data-aos-delay="300">
          <div class="ld-icon flex-shrink-0">
            <img src="../../../assets/img/Icon-Deck.png" alt="Decks Icon">
          </div>
          <div>
            <h4 class="title"><a href="#" class="stretched-link">Decks and Shades Stuctures</a></h4>
            <p class="description">Our custom decks, pergolas, and shade structures extend your living space outdoors. We design and construct each feature to be both practical and aesthetically pleasing, giving you a beautiful area to enjoy year-round.</p>
          </div>
        </div><!-- End Service Item -->
        <div class="col-lg-6 col-md-12 service-item d-flex" data-aos="fade-up" data-aos-delay="400">
          <div class="ld-icon flex-shrink-0">
            <img src="../../../assets/img/Icon-Interlock.png" alt="Paving Icon">
          </div>
          <div>
            <h4 class="title"><a href="#" class="stretched-link">Hardscape and Interlocks Pavings</a></h4>
            <p class="description">Enhance the functionality and beauty of your outdoor space with our hardscape and interlock paving services. We design and install durable pathways, patios, retaining walls, and driveways using high-quality materials. Our interlock paving solutions provide a sophisticated look while ensuring durability and ease of maintenance. From creating inviting walkways to designing elegant patios for entertaining, we ensure each hardscape element complements your overall landscape design.
            </p>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 service-item d-flex" data-aos="fade-up" data-aos-delay="400">
          <div class="ld-icon flex-shrink-0">
            <img src="../../../assets/img/Icon-Fence.png" alt="Fence Icon">
          </div>
          <div>
            <h4 class="title"><a href="#" class="stretched-link">Fence and Privicy</a></h4>
            <p class="description">We offer a wide range of fencing and privacy solutions to enhance the security and aesthetic appeal of your property. Whether you need a decorative garden fence or a privacy-enhancing boundary, we provide customized solutions tailored to your needs. </p>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 service-item d-flex" data-aos="fade-up" data-aos-delay="400">
          <div class="ld-icon flex-shrink-0">
            <img src="../../../assets/img/Icon-Restoration.png" alt="Restoration Icon">
          </div>
          <div>
            <h4 class="title"><a href="#" class="stretched-link">Restoration Services</a></h4>
            <p class="description">If your existing landscape or structures are in need of repair or refreshment, our restoration services can help restore their beauty and functionality. From rejuvenating old plantings to repairing fences or patios, we give your outdoor space a fresh new look.</p>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 service-item d-flex" data-aos="fade-up" data-aos-delay="400">
          <div class="ld-icon flex-shrink-0">
            <img src="../../../assets/img/Icon-Sustainable.png" alt="Sustainable Landscaping Icon">
          </div>
          <div>
            <h4 class="title"><a href="#" class="stretched-link">Sustainable Landscape Design and Consultation </a></h4>
            <p class="description">Our sustainable landscaping services focus on eco-friendly design and practices. We help you create landscapes that conserve water, promote biodiversity, and minimize environmental impact, ensuring your outdoor space is as sustainable as it is beautiful.</p>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 service-item d-flex" data-aos="fade-up" data-aos-delay="400">
          <div class="ld-icon flex-shrink-0">
            <img src="../../../assets/img/Icon-Excavation.png" alt="Landscape Design Icon">
          </div>
          <div>
            <h4 class="title"><a href="#" class="stretched-link">Excavation</a></h4>
            <p class="description">Our professional excavation services prepare your land for new installations, from patios and driveways to garden beds. We clear and level your property to ensure the smooth execution of any landscape or construction project.</p>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End Our Services Section -->
