.services-list h2 {
    font-size: 30px;
    font-weight: 700;
    color: rgba(1, 19, 38, 0.6);
  }
  .services-list h3 {
    font-size: 24px;
    font-weight: 700;
    color: var(--color-secondary);
  }
  
  .services-list h4 {
    font-size: 18px;
    font-weight: 400;
    color: var(--color-secondary);
    font-family: var(--font-secondary);
  }
  .services-list h5 {
    font-size: 16px;
    font-weight: 400;
    color: rgba(41,72,106,0.6);
    font-family: var(--font-secondary);
  }
  
  .services-list .service-item {
    position: relative;
  }
  
  .services-list .service-item .icon i {
    font-size: 32px;
    line-height: 0;
    margin-right: 20px;
    color: #38618e;
  }
  
  .services-list .service-item .title {
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 18px;
  }
  
  .services-list .service-item .title a {
    color: var(--color-secondary);
  }
  
  .services-list .service-item .title a:hover {
    color: #38618e;
  }
  
  .services-list .service-item .description {
    line-height: 24px;
    font-size: 14px;
    color: var(--color-secondary);
  }
  
  
  
  