<section id="hero" class="hero d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-xl-4">
          <h2 data-aos="fade-up">From Vision to Reality<br>Creating Stunning Landscapes</h2>
          <blockquote data-aos="fade-up" data-aos-delay="100">
            <p>Welcome to Mulberry Orchard, a full-service landscaping design and build company. Our team of experienced designers and skilled craftsmen are passionate about creating beautiful outdoor spaces that enhance the natural beauty of the environment while adding value and functionality to our clients' properties.           
            <p>At Mulberry Orchard, we believe that every outdoor space is unique, and we take pride in working closely with our clients to create custom solutions that meet their specific needs and desires. Our design process is collaborative, and we take the time to listen to our clients' ideas and visions, incorporating them into our designs to create spaces that are not only beautiful but also functional and sustainable.</p>
            <p>Thank you for considering Mulberry Orchard for your landscaping needs. We look forward to the opportunity to work with you and to creating a beautiful outdoor space that you can enjoy for years to come.</p>
          </blockquote>
          <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
            <a href="#about" class="btn-get-started">Get Started</a>
            <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>
          </div>

        </div>
      </div>
    </div>
  </section>