/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero {
    width: 100%;
    min-height: 100;
    background: url("/assets/img/introimage.jpeg") top center;
    background-size: cover;
    position: relative;
    padding: 120px 0;
    z-index: 3;
  }
  
  /* For large screens (min-width: 1034px and above) */
  @media (min-width: 1034px) {
    .hero:after {
      position: absolute;
      content: "";
      width: 40%; 
      background: rgba(242, 242, 242, 0.75);
      top: 0;
      bottom: 0;
    }
  }

  /* For medium screens (min-width: 768px and below 1034px) */
  @media (min-width: 768px) and (max-width: 1033px) {
    .hero:after {
      position: absolute;
      content: "";
      width: 70%; 
      background: rgba(242, 242, 242, 0.75);
      top: 0;
      bottom: 0;
    }
  }

  /* For small screens (below 768px) */
  @media (max-width: 767px) {
    .hero:after {
      position: absolute;
      content: "";
      width: 100%; 
      background: rgba(242, 242, 242, 0.75);
      top: 0;
      bottom: 0;
    }
  }
  
  .hero:before {
    position: absolute;
    content: "";
    background: rgba(0, 0, 0, 0.5);
    inset: 0;
  }
      
  .hero .container {
    z-index: 1;
  
  
  }
  
  @media (min-width: 1365px) {
    .hero {
      background-attachment: fixed;
    }
  }
  
  .hero h2 {
    margin: 0;
    font-size: 28px;
    font-weight: 300;
    line-height: 1.2;
    color:var(--color-secondary);
    font-family: var(--font-secondary);
  }
  
  .hero blockquote {
    color:var(--color-secondary);
    padding-left: 20px;
    font-size: 15px;
    font-family: var(--font-default);
    border-left: 2px solid var(--color-primary);
    margin: 40px 0;
    background: rgba(42, 107, 107, 0.95);
  
  }
  .hero content {
    color:var(--color-secondary);
    padding-left: 20px;
    font-size: 15px;
    font-family: var(--font-default);
    margin: 40px 0;
  }
  .hero .btn-get-started {
    font-family: var(--font-secondary);
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 30px;
    border-radius: 50px;
    transition: 0.5s;
    color: #fff;
    background: var(--color-primary);
  }
  
  .hero .btn-get-started:hover {
    background: rgba(86, 184, 230, 0.8);
  }
  
  .hero .btn-watch-video {
    font-size: 16px;
    transition: 0.5s;
    margin-left: 25px;
    color: rgba(255, 255, 255, 0.7);
    font-weight: 600;
  }
  
  .hero .btn-watch-video i {
    color: var(--color-primary);
    font-size: 32px;
    transition: 0.3s;
    line-height: 0;
    margin-right: 8px;
  }
  
  .hero .btn-watch-video:hover {
    color: #fff;
  }
  
  .hero .btn-watch-video:hover i {
    color: #82cbed;
  }
  
  @media (max-width: 640px) {
    .hero h2 {
      font-size: 36px;
      line-height: 1;
    }
  
    .hero .btn-get-started,
    .hero .btn-watch-video {
      font-size: 13px;
    }
  }
  
  
  /*--------------------------------------------------------------
  # About Section
  --------------------------------------------------------------*/
  .about .content h3 {
    font-weight: 700;
    font-size: 36px;
    font-family: var(--font-secondary);
    color: var(--color-primary);
  }
  
  .about .content p {
    margin: 30px 0;
    color: #29486a;
  }
  
  .about .content ul {
    list-style: none;
    padding: 0;
  }
  
  .about .content ul li {
    padding: 0 0 15px 26px;
    position: relative;
    font-size: 15px;
    font-weight: 600;
  }
  
  .about .content ul i {
    position: absolute;
    font-size: 20px;
    left: 0;
    top: -3px;
    color: var(--color-primary);
  }
  