    <footer id="footer" class="footer">
    <div class="footer-content">
      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-5 col-md-12 footer-info">
            <a href="index.html" class="logo d-flex align-items-center">
              <img src="../../assets/img/Mulberry AR Logo-Dark3.0.png" alt="">
            </a>
            <p>A Landscape Design and Build Company</p>
            <div class="social-links d-flex  mt-3">
              <a href="#" class="facebook"><i style = "color:black;" class="bi bi-facebook "></i></a>
              <a href="#" class="instagram"><i style = "color:black;" class="bi bi-instagram "></i></a>
              <a href="#" class="instagram"><i style = "color:black;" class="bi bi-youtube "></i></a>
            </div>
          </div>
          <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
            <h4>Contact Us</h4>
            <p>
              <strong>Phone:</strong> (437)655 8088<br>
              <strong>Email:</strong> info&#64;mulberyld.com<br>
            </p>

          </div>

        </div>
      </div>
    </div>
  </footer><!-- End Footer --><!-- End Footer -->